# editorconfig是一个可以制定统一规范的配置文件，绝大多数代码编辑器都已经支持
# 官网：http://editorconfig.org/
# 目前支持的属性：https://github.com/editorconfig/editorconfig/wiki/EditorConfig-Properties

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
trim_trailing_whitespace = false
