# ------------------------------------------
# gitignore
# ------------------------------------------
# 
# 此文件是设置上传时需要忽略那些文件的
# 想了解更多信息，可以查看`Github`仓库上的示例
#
# ------------------------------------------
# Github:https://github.com/github/gitignore
# ------------------------------------------

.DS_Store
node_modules